html, body {
  height: 100%;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}
.navmenu-brand{
  text-align: center;
}

.navmenu {
  z-index: 1;
  background-color: #F4F4F4;
  width: 300px;
}


@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
  .canvas {
    padding: 0;
  }
}


